---
// 基調講演セクション（p-keynote）。登壇者情報は data/keynote.ts。
import Heading from "../Heading.astro";
import FrontButton from "../FrontButton.astro";
import { keynote } from "../../data/keynote";
---

<section class="p-keynote">
  <div class="p-keynote__overlay">
    <div class="p-keynote__inner l-inner">
      <Heading title="Keynote" subtitle="基調講演" />
      <img class="p-keynote__img u-hidden--pc-tab" src={keynote.imageSp} alt="上田信行氏" width="414" height="470" />
      <div class="p-keynote__content">
        <h3 class="p-keynote__name">{keynote.name}</h3>
        <p class="p-keynote__role">{keynote.role}</p>
        <div class="p-keynote__body">
          {keynote.profile.map((paragraph) => <p class="p-keynote__text">{paragraph}</p>)}
        </div>
        <div class="p-keynote__more">
          <FrontButton href={keynote.moreUrl}>基調講演を詳しくみる</FrontButton>
        </div>
      </div>
    </div>
  </div>
  <img class="p-keynote__bg u-hidden--sp" src={keynote.imagePc} alt="上田信行氏" width="2184" height="1273" />
</section>
